h1{
    text-align: center;
    color: darkslategray;
}

h2{
    text-align: left;
    color: darkslateblue;
}

p{
    text-align: left;
    color: black;
    background-color: bisque;
}
